a {
  color: inherit;
}

body {
  background-color: darkslateblue;
  display: grid;
  grid-template-rows: auto auto 0.1fr;
  height: 100%;
  width: 100%;
}

body > * {
  padding: 20px 10px;
}

header {
  background-color: green;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

main {
  background-color: yellow;
}

footer {
  background-color: firebrick;
  text-align: center;
}
